#contact iframe
{
    width: 100%;
}
.travel_maindiv{
    border:1px solid rgb(241, 33, 241);
}
.travel_maindiv img{
    width:100%
}
.travel_maindiv h5, .travel_maindiv p {
    margin:40px;
}
.movie_header{
    font-size:50px;
    padding:6px 22px;
    border-radius:10px;
    margin-bottom:20px;

}
.movie_header i{
    float:right;
}
.movie_text img{
    width:200px;
    
}
.movie_text span{
    color:yellow;
}
.book{
     margin-bottom:20px;
     
}